:root {
  --background-color: #ffffff;
  --text-color: #222;
}

[data-theme="dark"],
[data-theme="dark"] footer.container-fluid,
[data-theme="dark"] .card {
  --background-color: #222;
  --text-color: #FFFFFF;
}

*:focus {
  outline: none !important; /* This removes the default browser outline */
  box-shadow: 0 0 0 0.2rem rgba(203, 220, 243, 0.75) !important;
}
[data-theme="dark"] *:focus {
  box-shadow: 0 0 0 0.2rem rgba(203, 220, 243, 0.35) !important;
}
[data-theme="dark"] .btn-toggle {
  color: var(--text-color);
}
.sticky-nav .btn.themeToggle {
  position: fixed;
  top: 12px;
  right: 20px;
  left: unset;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 0 0 0;
}
[data-theme="dark"] svg.goDark {
  display: none;
}
[data-theme="dark"] svg.goLight {
  display: flex;
}
svg.goLight {
  display: none;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 300ms, color 300ms;
  padding-bottom: 62px;
}
a {
  color: #35356b;
}
.btn-primary {
  background: #35356b !important;
  border-color: #35356b !important;
  margin-right: 22px;
}
[data-theme="dark"] a {
  color: #5353ad;
}
[data-theme="dark"] a svg {
  fill: #5353ad;
  stroke: #5353ad;
}
[data-theme="dark"]  .btn-primary {
  background: #5353ad !important;
  border-color: #5353ad !important;
  margin-right: 22px;
  color: #ffffff;
}
.btn-primary:last-child {
  margin-right: 0;
}
.sticky-nav__container {
  width: 214px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #6f6fb0 !important;
  border-color: #6f6fb0 !important;
  color: #ffffff;
}
a:hover,
a:focus,
a:active {
  color: #6f6fb0;

}
.sticky-nav a,
.sticky-nav .btn {
  width: 100%;
  display: block;
  text-align: left;
  font-weight: 600;
}
span:lang(ja) {
  font-family: sans-serif;
}
span:lang(cn) {
  font-family: sans-serif;
}
footer {
  background-color: var(--background-color);
  padding: 10px 20px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin-bottom: 0;
}
.sticky-nav {
  position: sticky;
  top: 40px;
}
.site-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 32px 0;
  justify-content: center;
}
.site-header img {
  margin-right: 24px !important;
  border-radius: 50%;
}
.site-header p {
  margin-bottom: 8px;
}
p.lead {
  width: 100%;
  margin-bottom: 0;
}
p {
  margin-bottom: 12px;
}
.lead > * {
  margin-bottom: 0;
}
.btn-group-xs {
  display: flex;
}
.lead .btn-group-xs a {
  text-decoration: none;
  padding: 6px 4px;
  margin-right: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
h1 {
  margin-bottom: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  line-height: 140%;
}
.h5, h5 {
  font-size: 1.44rem;
}
p, li, a, span, section, div {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 144%;
}
li {
  margin-bottom: 8px;
}
.bottom-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.dropdown-content {
  /* ...existing styles... */
  margin-bottom: 20px;
  /* Adds space below each section */
}

.open {
  /* Logic to make it expanded, possibly 'display: block;' */
}

#sidebar {
  order: -1;
}

.sidebar-content {
  max-width: 25%;
}

section {
  margin-top: 48px;
}
section h3 {
  margin-top: 36px !important;
  margin-bottom: 23px;
}
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-bottom: 16px;
  background-color: var(--background-color);
  border: 1px solid #35356b;
}
hr {
  background-color: transparent;
  height: 0;
  border-top: 1px solid #35356b;
}
.card__image {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__image img {
  width: 200px;
  height: 200px;
}

@media (min-width: 922px) {
  .container {
    max-width: 69.44%;
  }
}

@media (max-width: 1234px) {
  .sticky-nav__container {
    padding: 0 0 0 0 !important;
  }
  .sticky-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .main__content {
    margin: 0 auto;
    width: 100%;
    max-width: unset !important;
  }

  body {
    padding-top: 84px;
  }
  .sticky-nav {
    background-color: var(--background-color);
    z-index: 5;
    padding: 8px 12px 8px 12px !important;
  }
  .sticky-nav li {
    margin-right: 12px;
  }
   .toTop__btn {
    margin-left: auto;
    margin-right: 0;
    position: relative;
    bottom: -100px;
    transition: bottom 225ms;
  }
   .toTop__btn.show {
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .card {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card__image {
    align-self: center;
  }

  #media ul {
    padding-left: 16px;
  }
  #media  ul li {
    padding: 12px 0;
    border-bottom: 1px solid #cbdcf3;
    margin-bottom: 0;
  }
  .site-header img {
    margin-right: 0 !important;
  }
  .btn-group-xs {
    align-items: center;
    justify-content: center;
  }
  .btn-group-xs a:last-child {
    margin-right: 0 !important;
  }
  section {
    margin-top: 28px;
  }
  .site-header {
    flex-direction: column;
  }
}

@media (min-width: 1235px) {
  .toTop__btn {
    margin-left: auto;
    position: fixed;
    bottom: -100px;
    transition: bottom 225ms;
    right: 10px;
  }

  .toTop__btn.show {
    bottom: 10px;
  }
}